@media only screen and (max-width: 320px) {
    .photo {
      display: none;
    }
   .form{
    text-align: center;
   }
   .new{
    margin-left: 50px;
   }
 .email{
  margin-right: 5px;
  margin-left: 8px;
 }
   
   
  }

  @media only screen and (min-width: 768px) {
    .form{
        margin-top: 8rem;
    }


  }
  